table {
    margin:auto;
}
td {
    width: 150px;
}
button {
    background-color: teal;
    color:white;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
}
.container {
    border: 1px solid teal;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.addbutton {
    background-color: teal;
    color:white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}
p {
    margin: 10px;
}
.hover:hover {
    margin: 10px;
    color: lightseagreen;
    cursor: pointer;
}
button:hover {
    color: white;
    background-color: lightseagreen;
    cursor: pointer; 
}