<div class="container">
  <h2>Groups</h2>
  <div class='container'>
    <table>
      <thead>
        <th>Group</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let x of groupList">
          <td><p class="hover" [routerLink]="['/group/', x._id]">{{x.gname}}</p></td>
          <td>
            <button [routerLink]="['/group/', x._id]">Show</button>
            <button (click)="deleteGroup(x)">Delete</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="addbutton" type="button" (click)="showAddGroup()">Add Group</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>