<div class="container">
  <h3>About Cost Splitter</h3>
  <p>Cost Splitter is an app that helps you split the costs of trips/events with friends and family.</p>
  <div class="inside">
  <h3>Features to add</h3>
  <ul>
    <li>Make Responsive</li>
    <li>Use Angular Material</li>
    <li>User Login and Registration
      <ul>
        <li>Admin</li>
        <li>User</li>
      </ul>
    </li>
    <li>Group Chat Using Sockets</li>
    <li>Payback Features
      <ul>
        <li>Different Payment Responsibilty</li>
        <li>Venmo/Square/Zelle</li>
        <li>Minimize Transactions</li>
      </ul>
    </li>
    <li>More User Details
      <ul>
        <li>Avatars</li>
        <li>Email</li>
        <li>Phone Number</li>
      </ul>
    </li>
    <li>Export data to PDF/Spreadsheet</li>
    <li>Foreign Currency</li>
    <li>Categories for Events</li>
  </ul>
  </div>
</div>